/*Home Page Stuff*/

.main {
  background-image: url('http://orig08.deviantart.net/dfb5/f/2012/331/3/b/safari_zone_stampede__by_readreeds-d5meoku.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
