/*Battle Stuff*/

.battle-screen {
  background-image: url('http://orig07.deviantart.net/dd1d/f/2013/340/d/1/desert_2_xy_battle_background_by_worldslayer608-d6x05bc.png');
  height: 100vh;
  width: 100vw;
}
