/*Battle Stuff*/

.battle-screen {
  -ms-align-items: center;
  align-items: center;
  background-image: url('http://img11.deviantart.net/56f7/i/2014/173/7/9/kanto_safari_zone___dusk_by_falke2009-d5f8xsc.png');
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.wild-pokemon img {
  height: 200px;
  width: 200px;
}

.poke-name-span {
  color: darkslategray;
  font-size: 25px;
}
